.titleMain {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 50px;
}

.titleContent {
    font-family: "Roboto-Light", sans-serif;
    font-size: 35px;
}

.titleMono {
    font-family: "RobotoMono-Regular", monospace;
    font-size: 35px;
}