html,
body,
header,
#intro {
    height: 100%;
}

#intro-projects {
    height: 100%;
}

#intro-main {
    background: url("../img/IMG_20180710_195312_2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro-projects {
    background: url("../img/00100dPORTRAIT_00100_BURST20180316180548142_COVER.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}