.center {
    margin: auto;
    width: 50%;
    padding: 70px 0;
    text-align: center;
}
.mono {
    font-family: 'Roboto Mono', monospace;
    font-size: 96px;
}
.mono-small {
    font-family: 'Roboto Mono', monospace;
    font-size: 58px;
}
body {
  margin: 0;
  background-image: url(video/static.gif);
  background-size: cover;
  color: #ffffff;
}
#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
a {
    color: white;
}
a:visited {
    color: white;
}