.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
body {
  margin: 0;
  background-image: url(video/static.gif);
  background-size: cover;
}
#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 112px;
    color: #ffffff;
}