body {
  background: gray;
}
h1 {
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
 }

 h2 {
  font-size: 36px;
  font-family: 'Roboto', serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
 }

 h3 {
  font-size: 72px;
  font-family: 'Roboto Mono',monospace;
  text-align: center;
  color: white;
 }
