@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', 'Roboto Condensed', sans-serif;
    margin: 0;
}

header {
    font-size: 16pt;
}

body {
    background-color: #4C566A;
    color: #ECEFF4;
    text-align: center;
    height: 100%;
    font-size: 16pt;
    font-weight: 300;
}

header {
    margin: 100px auto 50px auto;
}

header h3 {
    font-weight: normal;
}

main ul {
    text-align: center;
    margin-right: 25px;
    list-style: none;
}

main li {
    margin: 25px auto;
}

main i {
    font-size: 15pt;
    vertical-align: middle;
    padding-right: 5px;
}

main a, main a:link, main a:visited {
    text-decoration: none;
    color: #ECEFF4;
}

main a:hover {
    color: rgb(0, 153, 255);
}