/*Google Fonts Implementation*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono&display=swap');

/*Main structure of website uses CSS grid. */

body {
    height: 100%;
    display: grid;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    margin: 0;
    font-
}

/* Resets bolding on the heading elements. */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* Disable colored and underlined anchors by default unless intentionally underlined. */

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 153, 255);
}

/* CSS for the navigation bar that's located on the top of every webpage. */

header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: 0;
    margin: 0%;
}

header h3 {
    font-weight: 600;
}

/*Positions navigation links and adds space between each link*/

nav {
    display: flex;
    justify-content: flex-end;
}

header a,
footer a {
    margin: 0 2vw;
}

/*CSS for content area of webpage. */

main {
    grid-area: main;
}

/* Material Icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/*Home page banner image*/

.banner-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    background: #4C566A;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ECEFF4;
    height: 100vh;
    font-size: 2rem;
}

/* Text styling for home page */

.intro-text {
    margin: 35vh 0 -2vh 0;
    font-family: 'Roboto Mono', monospace;
}

.intro-description {
    font-size: 1.5rem;
}

.skills-text-display {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    margin: 2vh 0 0 0;
    width: 50vw;
}

.skills-text-display p {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 8rem;
}

.skills-text-display p:hover {
    font-size: 2rem !important;
    margin: 0;
}

/*Big front page banner for video page*/

.banner-video {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url('images/full-sized/banner-photos/video-page-banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
    height: 94vh;
}

/*Banner for projects page*/

.banner-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4C566A;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ECEFF4;
    height: 93vh;
}

/*Banner for about page */

.banner-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    background: #4C566A;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ECEFF4;
    height: 100vh;
    font-size: 2rem;
}

/* Text styling for home page */
.about-title {
    margin: 10vh 0 0 0;
}

.about-text {
    max-width: 50vw;
}

/* General banner styles */

.banner-text {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.25vw;
}


/* Gallery is a CSS grid where images occupy it in rows of 3*/

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax (1px, 1fr) minmax (1px, 1fr);
    grid-gap: 5vh;
    grid-row-gap: 5vh;
    margin: 5% 19%;
    font-size: 1rem;
}

.gallery img {
    border-radius: 0.5rem;
    width: 100%;
    vertical-align: middle;
}

.page-intro {
    margin: 5vh auto 1vh auto;
    max-width: 800px;
}

/* Text styles*/

.text-center {
    text-align: center;
}

.big-text {
    font-size: 2.5rem;
}

p {
    font-size: 24px;
}

/* Image styles*/

.big-width-img {
    width: 100%;
}

/* Projects page CSS */
.project-list {
    margin: 20vh auto 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    max-width: 800px;
    min-height: 72vh;
}

.project-title {
    font-size: 2.5rem;
    margin: 0 0 0 0;
}

.project-element {
    margin: 2vh 0 2vh 0;
}

.project-element img {
    border-radius: 0.5rem;
    max-width: 800px;
}

.project-attribute {
    margin: 0;
}

/*Footer CSS */

footer {
    display: flex;
    grid-area: footer;
    justify-content: space-between;
}

footer h3 {
    font-weight: 600;
}

/*Medium width gallery (2 items). Tablet style view*/

@media (max-width: 1200px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5vh;
        grid-row-gap: 5vh;
        margin: 5% 15%;
    }

    .banner-about {
        height: 95vh;
    }

    /* Homepage styling for tablet/mobile */
    .banner-home {
        height: 100vh;
    }

    .banner-home p {
        font-size: 1.7rem;
    }

    .intro-text {
        margin: auto 0 0 0;
        width: 15rem;
    }

    .skills-text-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        font-weight: 600;
        margin: 0 0 auto 0;
    }

    .skills-text-display p{
        border: solid black;
        border-radius: 2rem;
        margin: 1vh 1vh 1vh 0;
        height: 2.5rem;
        width: 12rem;
    }

    /* Projects page styling */
    .project-list {
        min-height: 100vh;
        max-width: 60vw;
        margin: 10vh auto 0 auto;
    }

    /* About page styling */
    .banner-about p {
        max-width: 60vw;
    }
}

/*Mobile layout*/
/*Menu button for mobile screens*/

#menu {
    display: none;
}

@media (max-width: 700px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax (1px, 1fr);
        margin: 0;
        overflow-x: hidden;
        font-size: 1.5rem;
        text-align: center;
    }

    /* There's a column of one-image only for the gallery on mobile */
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5vh;
        grid-row-gap: 5vh;
        margin: 5% 15%;
        font-size: 1.5rem;
    }
    
    /* Code below is responsible for drawer-style nagivation and navbar look*/
    header a {
        font-size: 1.5rem;
    }

    nav {
        display: block;
        justify-content: flex-end;
        width: 50vw;
    }

    nav a,
    nav:active a {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }

    nav:hover a {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
    }

    /* Mobile CSS for footer */
    footer {
        display: block;
        justify-content: center;
        text-align: center;
        /*background: #FFA232; <Orange color for more flair*/
        background: #4C566A;
    }

    footer a {
        margin: 5vh 0;
        font-size: 1.5rem;
    }

    /* Homepage styling for mobile */
    .banner-home {
        height: 100vh;
    }

    .banner-home p {
        font-size: 1.7rem;
    }

    .intro-text {
        margin: auto 0 0 0;
        width: 15rem;
    }

    .skills-text-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        font-weight: 600;
        margin: 0 0 auto 0;
    }

    .skills-text-display p{
        border: solid black;
        border-radius: 2rem;
        margin: 1vh 1vh 1vh 0;
        height: 2.5rem;
        width: 12rem;
    }

    /* About page styling */
    .about-title {
        font-size: 1.5rem;
        margin: 0 0 0 0;
    }

    .banner-about {
        height: 90vh;
    }

    .banner-about p {
        font-size: 1rem;
        max-width: 80vw;
    }

    /* Projects page styling */
    .project-list {
        max-width: 80vw;
        margin: auto;
    }
}
